

.card:hover{
    background-color: rgba(255, 136, 0, 0.833);
    cursor: pointer;
}
.card{
    max-width: 350px;
    border: 2px solid grey;
    transition: 0.5s;
    border-radius: 12px;
}
.flag{
    width: 350px;
    height: 200px;
    object-fit: cover;
}
.title{
    color: rgb(0, 17, 255);
    text-align: center;
   
    
}
.capital{
    color: rgb(255, 85, 0);
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}